body {
    background-color: #6e6e6e;
    color: #ffffff;
    font-family: Gill Sans, Helvetica, Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    
}

a {
    color: #002052;
}

h1 {
    font-size: 36px;
    margin: 0;
    font-weight: lighter;
}

h2 {
    font-size: 22px;
    margin-top: 20px;
    font-weight: lighter;
}

h3 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 60px;
}

h4 {
    color: #ffffff;
    font-size: 20px;
    font-weight: normal;
    padding: 2px;
}

p {
    color: aliceblue;
    font-family: Gill Sans, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 25px;
    margin: 8px 0;
}

.logo {
    display: block;
    margin: auto;
    width: 17.5%;
    padding: 20px;
}

.header {
    background-color: #000000;
    /* put header background image here*/
    background-position: center center;
    padding: 25px;
    text-align: center;
    font-size: 25px;
    
}

.header div {
    font-size: 45px;
    padding: 10px;
    display: inline-block;
    vertical-align: top;
}

.header img {
    display: inline-block;
    padding: 7px;
}

.header nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

.header nav li {
    display: inline
}

.header nav a {
    color:aliceblue;
    text-decoration:none;
    text-align: center;
    border-bottom: none;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 2px 20px;
}

.header nav a:hover {
    background: #4d4d4d;
}

.header nav a.active {
    background: #6e6e6e;
    color:aquamarine;
}

.intro {
    background: #6e6e6e;
    padding: 50px;
    text-align: center;
}

.about {
    margin: 10px auto;
    width: 75%;
    overflow: auto;
}

.about .call-out {
    margin: 30px 0;
    background: #002052;
    border-radius: 7px;
    padding: 20px 30px;
}

.about .call-out h2 {
    margin-top: 30px;
}

.about .call-out p {
    color: #ffffff;
    font-size: 18px;
    line-height: 34px;
    margin-bottom: 20px;
}

#footer {
    clear: right;
}
.footer {
    background: #000000;
    color: #ffffff;
    padding: 10px 0 20px 0;
    text-align: center;
    bottom: 0px;
    left: 0px;
    width: 100%;
    clear: right;
}

footer h4 {
    margin-top: 15px;
    margin-bottom: 5px;
}


.about .selfportrait {
    float: right;
    clear: right;
    margin: 40px;
    height: auto;
    border-radius: 30px;

}

.clearfix {
    overflow: auto;
}

